.card-style:hover{
    transform: scale(1.04);
  cursor: pointer;
  
}
.container-r{
    background-color: black;
    border: 2px solid whitesmoke;
    border: 2px solid red;
    margin-left: 5px;
    border-radius: 10px;
    box-shadow:rgb(123, 121, 128) ;
    
   
}
.card-style img{
    margin-top: 15px;
    height: 90px;
    width: 90px;
    border-radius: 50px;
}